body {
	font-family: "Kanit";
}
.section-market {
	position: relative;
	/* outline: 3px solid red; */
}
.color-to-img {
	background-color: black;
	z-index: 2;
}

.img-market {
	border-radius: 10px;
}

.market {
	margin: 5px;
	color: white;
	position: absolute;
	bottom: 0px;
	left: 0px;
}
.name-market {
	padding: 10px;
	background: hsl(0, 0%, 20%, 0.6);
	width: auto;
	color: white;
	position: absolute;
	top: 0px;
	right: 0px;
}
.overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 30%;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}
